.ta5__text {
    font-size: 1.5rem;
    color: #333;
}

.ta5__button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}